#### make an empty dictionary named practice_dict

In [1]:
practice_dict = {}

#### add name of student with their marks in above dictionary

In [2]:
practice_dict['Mayur'] = 99
practice_dict['Ashish'] = 98
practice_dict['Sanket'] = 97
practice_dict['Mansi'] = 96
practice_dict['Akshay'] = 95
practice_dict['Vishnuu'] = 94
practice_dict['Nikhil'] = 93

practice_dict

{'Mayur': 99,
 'Ashish': 98,
 'Sanket': 97,
 'Mansi': 96,
 'Akshay': 95,
 'Vishnuu': 94,
 'Nikhil': 93}

#### change the key name for one key in dictionary [example - {'mayurr' : 55} -----> {'mayur' : 55} ]

In [3]:
#dictionary[new_key] = dictionary.pop(old_key)

practice_dict['Vishnu'] = practice_dict.pop('Vishnuu')
practice_dict

{'Mayur': 99,
 'Ashish': 98,
 'Sanket': 97,
 'Mansi': 96,
 'Akshay': 95,
 'Nikhil': 93,
 'Vishnu': 94}

#### change key as a value and value as key in above dictionary. [example - {'mayur': 55} -----> {55: 'mayur'}

In [4]:
practice_dict1 = {}
for key, value in practice_dict.items():
    practice_dict1[value] = key
practice_dict1

{99: 'Mayur',
 98: 'Ashish',
 97: 'Sanket',
 96: 'Mansi',
 95: 'Akshay',
 93: 'Nikhil',
 94: 'Vishnu'}

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

#### make a dictionary using two lists
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']<br>
covid_counts = [12000, 22000, 9000, 3000]

In [5]:
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]
covid = dict(zip(city_names, covid_counts))
covid

{'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### remove pune from above dictionary

In [6]:
covid.pop('pune')

12000

#### add delhi = 20000 in dictionary

In [7]:
covid['delhi'] = 20000
covid

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000, 'delhi': 20000}

#### print keys of dictionary

In [8]:
covid.keys()

dict_keys(['mumbai', 'nashik', 'ahmednagar', 'delhi'])

#### print values of dictionary

In [9]:
covid.values()

dict_values([22000, 9000, 3000, 20000])

#### print items of dictionary

In [10]:
covid.items()

dict_items([('mumbai', 22000), ('nashik', 9000), ('ahmednagar', 3000), ('delhi', 20000)])

#### print 3rd item of dictionary

In [11]:
print(list(covid.items())[2])

('ahmednagar', 3000)

#### ----------------------------------------------------------------------------------------------------------------------------------------------

### perform operations on dictionary using all dictionary functions

####  Access the value of key ‘history’

In [12]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"nikita",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [13]:
sample_dict['class']['student']['marks']['history']

80

#### Initialize dictionary with default values

In [14]:
employees = ['mayur', 'aniket', 'John']
defaults = {"designation": 'Application Developer', "salary": 80000}

In [15]:
#question not understand

#### Create a new dictionary by extracting the following keys from a given dictionary

In [16]:
# Expected output - {'name': 'akshay', 'salary': 8000}
sampleDict = {
  "name": "akshay",
  "age":22,
  "salary": 80000,
  "city": "Ahmednagar"
  
}
keys = ["name", "salary"]

In [17]:
new_dict = {}
for key,value in sampleDict.items():
    if key == "name":
        new_dict[key] = value
    if key == "salary":
        new_dict[key] = value
new_dict

{'name': 'akshay', 'salary': 80000}

#### Check if a value 200 exists in a dictionary
expected output - True

In [18]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [19]:
print(200 in sampleDict.values())

True

#### Rename key city to location in the following dictionary

In [20]:
sampleDict = {
  "name": "Vishnu",
  "age":22,
  "salary": 80000,
  "city": "Mumbai"
}

In [21]:
sampleDict['location'] = sampleDict.pop('city')
sampleDict

{'name': 'Vishnu', 'age': 22, 'salary': 80000, 'location': 'Mumbai'}

#### Get the key corresponding to the minimum value from the following dictionary

In [22]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [23]:
for key, value in sampleDict.items():
    if value == min(sampleDict.values()):
        print('Key :',key)

Key : Math

#### Given a Python dictionary, Change Nikhil’s salary to 8500

In [24]:
sample_dict = {
     'emp1': {'name': 'mayur', 'salary': 75000},
     'emp2': {'name': 'nikhil', 'salary': 80000},
     'emp3': {'name': 'sanket', 'salary': 65000}
}

In [25]:
#chaniging nikhil salary to 85000
sample_dict['emp2']['salary'] = 85000
sample_dict

{'emp1': {'name': 'mayur', 'salary': 75000},
 'emp2': {'name': 'nikhil', 'salary': 85000},
 'emp3': {'name': 'sanket', 'salary': 65000}}